.social{
 position: fixed;
 top: 225px;
 right: 0;
 z-index: 100;
text-align: center;
}

.button-right{
/* background-color: #4a4c6d;*/
 width: 50px;
 height: 55px;
z-index: 100;


 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}
a{
 color: #ffffff;
 text-decoration: none;
    text-align: center;
}
.block-icon{
 font-size: 2.5em;
 text-align: center;
}
.fa-facebook  {color: #2a406f;}
.fa-vk        {color: #ffffff;}
.fa-instagram {color: #e4405f;}
.fix-icon     {color: #005cf4;}

.fa-facebook:hover, .fa-instagram:hover, .fa-vk:hover, .fa-envelope:hover  {
  color: #ccc;  
}

@media only screen and (max-width: 767px) {
    .button-right{
     width: 40px;
     height: 45px;
}
    .block-icon{
 font-size: 2em;
 text-align: center;
}
    
}


